<article id="projects">
  <button id="prvproj" type="button" class="slick-prev">Prev</button>
  <button id="nxtproj" type="button" class="slick-next">Next</button>
  <div id="projectslide">
    <div>								
      <div style="width: 98%; display: flex; justify-content: space-between; align-items: center;">
        <h2 class="major">starmos.io</h2>
        <img style="width:3.5rem; height:3.5rem;" src="/assets/img/ship.png" alt="" />
      </div>
      <ul class="alt">			
        <li>
        <p>Inspired by flat design, <a href="https://starmos.io">starmos.io</a> is an online web game created using node.js. The objective of the game is to explore the map from a selection of spaceships, and find asteroids, comets, or enemy players in order to unlock new abilities. All graphics were designed using simple shapes and colors, some of which are generated during gameplay. </p>
        </li>
      
        <li>
          <h3>Technologies Used: </h3>
          <div class="techtag" style="width: 98%; display: flex; flex-wrap: wrap; align-items: center;">
            <div style="margin-left: 0px"> <a href="https://v3.vuejs.org/">Vue 3</a></div>
            <div> <a href="https://www.pixijs.com/">pixi.js</a></div>
            <div> <a href="https://socket.io/">Socket.io</a></div>
            <div> <a href="https://expressjs.com/">Express</a></div>
            <div> <a href="https://webpack.js.org/">Webpack</a></div>
            <div> <a href="https://greensock.com/gsap/">GSAP</a></div>													
            <div> <a href="https://kubernetes.io/">Kubernetes</a></div>
            <div> <a href="https://www.docker.com/">Docker</a></div>
          </div>
        </li>
        <li>
          <div style="width: 98%; display: flex; justify-content: space-between; align-items: center;">
            <b>Created November 2019 – February 2021</b>
            <ul class="innerL icons" style="margin-top: 36px">
              <li><a href="https://starmos.io" class="fas fa-link"></a></li>
              <li><a href="https://twitter.com/starmosio" class="icon brands fa-twitter"></a></li>
              <li><a href="https://www.youtube.com/watch?v=0umyiqSUdjY" class="icon brands fa-youtube"></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <h2 style="margin-left:1px" class="major">ARBnb</h2>			
      <ul class="alt">
        <li>
          <div style="width: 98%; display: flex; align-items: center;">
            <img style="margin-top: -20px; width:11rem" src="/assets/img/bike.gif" alt="" />
            <div>
            <p style="margin-left:50px"> <a href="https://starmos.io">ARBnb</a> is an augmented reality application developed for Android, and built for <a href="https://leantechniques.com/">LEAN Techniques</a>. Designed in Unity using Google's ARCore, ARBnb provides an interface for rental properties. Interactive tooltips and icons are augmented into the rental via the phone's camera, displaying information to the user on relevant items in the property, such as public hiking trails or room info. </p>
            <p style="margin-left:50px"> Landlords add objects to a scene by tapping anywhere in the augmented environment, and select the icons and text to display. Each room's state persists across multiple sessions, allowing tenants to view the scene. </p>									
            </div>
          </div>
        </li>
      
        <li>
          <h3>Technologies Used: </h3>
          <div class="techtag" style="width: 98%; display: flex; flex-wrap: wrap; align-items: center;">
            <div style="margin-left: 0px"> <a href="https://docs.microsoft.com/en-us/dotnet/csharp/">C#</a></div>
            <div> <a href="https://unity.com/">Unity</a></div>
            <div> <a href="https://developers.google.com/ar">Google ARCore</a></div>
            <div> <a href="https://developers.google.com/ar/develop/java/cloud-anchors/overview-android">Google Cloud Anchors</a></div>
            <div> <a href="https://cloud.google.com/">GCP</a></div>
            <div> <a href="https://developer.android.com/studio?authuser=3">Android SDK</a></div>
          </div>
        </li>
        <li>
          <div style="width: 98%; display: flex; justify-content: space-between; align-items: center;">
            <b> Team: created September 2020 – November 2020</b>
            <ul class="innerL icons" style="margin-top: 36px">
              <li><a href="https://seniord.cs.iastate.edu/2020-Dec-SD3/" class="fas fa-info"></a></li>
              <li><a href="https://www.youtube.com/watch?v=1NcGEyMX1t8" class="icon brands fa-youtube"></a></li>
              <li><a href="https://github.com/519045752/ComS402C_SD3" class="icon brands fa-github"></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="major">Data Exploration Interface</h2>
      <span class="image main"><img src="/assets/img/ipmp.png"></span>
        <ul class="alt">
          <li>
            <p> The IPMP <a href="https://ipmp.ctre.iastate.edu/gisdata/">Data Exploration Interface</a> is an online webapp built using <a href="https://developers.arcgis.com/javascript/latest/">ArcGIS for javascript</a> and <a href="https://developers.arcgis.com/web-appbuilder/">Web AppBuilder Source</a>. The webapp displays pavement data for jurisdictions across Iowa, and provides standard features of GIS applications, such as an attribute table, data selection, managing layers, and toggling basemaps. Other features include infographics for specific fields in the pavement data, and cost estimates for potential road treatments. Featurelayers from 2013 through 2020 are available to view and download as a geodatabase or shapefile.</p>
          </li>
        
          <li>
            <h3>Technologies Used: </h3>
            <div class="techtag" style="width: 98%; display: flex; flex-wrap: wrap; align-items: center;">
              <div style="margin-left: 0px"> <a href="https://nodejs.org/en/">node.js</a></div>
              <div> <a href="https://developers.arcgis.com/javascript/latest/">Arcgis API</a></div>
              <div> <a href="https://community.esri.com/t5/web-appbuilder-custom-widgets/gh-p/web-appbuilder-custom-widgets"> ESRI Plugins </a></div>
              <div> <a href="https://dojotoolkit.org/"> dojo </a></div>
              <div> <a href="https://ipmp.ctre.iastate.edu/arcgis/rest/services"> REST API </a></div>
            </div>
          </li>
          <li>
            <div style="width: 98%; display: flex; justify-content: space-between; align-items: center;">
              <b>Created September 2019 – March 2020</b>
              <ul class="innerL icons" style="margin-top: 36px">
                <li><a href="https://ipmp.ctre.iastate.edu/gisdata/" class="fas fa-link"></a></li>
                <li><a href="https://ctre.iastate.edu/ipmp/" class="fas fa-info"></a></li>
                <li><a href="https://gitlab.com/aphares/ipmp-dbo-web-application" class="icon brands fa-gitlab"></a></li>
              </ul>
            </div>
          </li>
        </ul>
    </div>
    <div>
      <h2 class="major">Lab Assistant</h2>
      <ul class="alt">
        <li>
          <div style="width: 98%; display: flex; align-items: center;">
            <img style="width:10rem" src="/assets/img/labassist.JPG" alt="" />
        
            <p style="margin-left:50px"> Lab Assistant: a companion app for teacher assistants or professors to use in the classroom. Designed for Android, instructors can track student attendance, assign homework, organize students into groups, and manage other details of their classroom or lab. Students can use the app to chat with other users about class material, and notify the instructor for help. The app connects with a springboot backend, accessible via a REST API – which connects to a MySQL database that stores all student, chat, and classroom information. </p>
          </div>
        </li>
    
        <li>
          <h3>Technologies Used: </h3>
          <div class="techtag" style="width: 98%; display: flex; flex-wrap: wrap; align-items: center;">
            <div style="margin-left: 0px"> <a href="https://www.java.com/en/">Java</a></div>
            <div> <a href="https://gradle.org/"> Gradle </a></div>
            <div> <a href="https://www.mysql.com/">MySQL</a></div>
            <div> <a href="https://spring.io/projects/spring-boot">Springboot</a></div>
            <div> <a href="https://maven.apache.org/">Maven</a></div>
            <div> <a href="https://www.docker.com/">Docker</a></div>
          </div>
        </li>
        <li>
          <div style="width: 98%; display: flex; justify-content: space-between; align-items: center;">
            <b>Team: created February 2019 – May 2019</b>
            <ul class="innerL icons" style="margin-top: 36px">
              <li><a href="https://gitlab.com/aphares/lab-assistant" class="icon brands fa-gitlab"></a></li>
              <li><a href="https://www.youtube.com/watch?v=o2TbhE3PzFQ" class="icon brands fa-youtube"></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="major">LEGv8 ISA Emulator</h2>
      <span class="image main"><img src="/assets/img/legv8.JPG"></span>
      <ul class="alt">
        <li>
          <p> A subset of ARMv8's Instruction Set Architecture, <a href="http://harmanani.github.io/classes/csc320/Notes/ch02.pdf">LEGv8</a> is a reduced form of assembly with standard commands such as 'ADD', 'LSL', and 'LDUR'. Assembly is passed into this LEGv8 Emulator, which parses and executes each statement. Memory is explicity allocated into static arrays for registers (X9, X10, X11...) and variables (e.g. X0 after executing the above 'LDUR' statement). The emulator is written completely in C, and was created as a class project for COM S 321: Introduction to Computer Architecture and Machine-Level Programming.
          </p>
        </li>
    
        <li>
          <h3>Technologies Used: </h3>
          <div class="techtag" style="width: 98%; display: flex; flex-wrap: wrap; align-items: center;">
            <div style="margin-left: 0px"> <a href="https://www.learn-c.org//">C</a></div>
          </div>
        </li>
        <li>
          <div style="width: 98%; display: flex; justify-content: space-between; align-items: center;">
            <b>Team: created September 2019 – November 2019</b>
            <ul class="innerL icons" style="margin-top: 36px">
              <li><a href="http://harmanani.github.io/classes/csc320/Notes/ch02.pdf" class="fas fa-info"></a></li>
              <li><a href="https://gitlab.com/aphares/legv8-isa-emulator" class="icon brands fa-gitlab"></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="major">Roguelike Game</h2>
      <span class="image main"><img src="/assets/img/rogue.JPG"></span>
      <ul class="alt">
        <li>
          <p> A roguelike game written in C & C++ that runs inside the terminal, with graphics managed by <a href="https://invisible-island.net/ncurses/announce.html"> ncurses </a>. Maps are randomly generated: hallways are marked with '#', rooms as '.', enemies as alpha characters, and items as special characters. The player is controlled via keyboard input, and must navigate through the dungeon to find enemy characters and collect items. The game ends once either the player or all enemies are defeated.</p>
        </li>
    
        <li>
          <h3>Technologies Used: </h3>
          <div class="techtag" style="width: 98%; display: flex; flex-wrap: wrap; align-items: center;">
            <div style="margin-left: 0px"> <a href="https://www.learn-c.org//">C</a></div>
            <div> <a href="https://www.cplusplus.com/doc/tutorial/"> C++ </a></div>
          </div>
        </li>
        <li>
          <div style="width: 98%; display: flex; justify-content: space-between; align-items: center;">
            <b>Created February 2019 – May 2019</b>
            <ul class="innerL icons" style="margin-top: 36px">
              <li><a href="https://gitlab.com/aphares/roguelike-game" class="icon brands fa-gitlab"></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="major">Infinity Maze</h2>
      <span class="image main"><img src="/assets/img/mz.png"></span>
      <ul class="alt">
        <li>
          <p> This was an early hobby project developed for Android. The game draws an infinite horizontal maze, the path generated using depth-first search. The player controls a pawn that must continually solve the maze as it scrolls  faster and faster. All game logic was built with java, using the libGDX api for graphics and sprite objects. </p>
        </li>
    
        <li>
          <h3>Technologies Used: </h3>
          <div class="techtag" style="width: 98%; display: flex; flex-wrap: wrap; align-items: center;">
            <div style="margin-left: 0px"> <a href="https://www.java.com/en/">Java</a></div>
            <div> <a href="https://developer.android.com/studio?authuser=3">Android SDK</a></div>
            <div> <a href="https://libgdx.com/">libGDX</a></div>
            <div> <a href="https://gradle.org/"> Gradle </a></div>
          </div>
        </li>
        <li>
          <div style="width: 98%; display: flex; justify-content: space-between; align-items: center;">
            <b>Created September 2017 – January 2018 </b>
            <ul class="innerL icons" style="margin-top: 36px">
              <li><a href="https://gitlab.com/aphares/infinity-maze" class="icon brands fa-gitlab"></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

</article>
